html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #ffd662ff;
}

h2 {
    text-align: center;
    color: #0e1111;
}

button {
    text-align: center;
    margin: 10px 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    font-size: 22px;
    outline: none;
}

button:hover {
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

.ctn {
    display: flex;
    margin: 50px auto;
    width: 500px;
}

.disable-hover {
    background-color: rgb(116, 113, 113);
}

.disable-hover:hover {
    color: aliceblue;
    background-color: rgb(116, 113, 113);
    cursor: text;
}